*{
    box-sizing: border-box;
}

body {
    margin: 100px;
}


.field{
width: 500px;
height: 500px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
background-color:#ccc;
}

.excel{
width: 50px;
height: 50px;
padding: 5px;
}

.snakeBody{
    background-color: black;
    border-radius: 50%;
}

.head{
    background-color: red;
    border-radius: 30%;
}

.mouse{
    background-color: grey;
    border-radius: 20px;
}


input{

margin: auto;
margin-top: 30px;
margin-bottom: 20px;
font-size: 30px;
display: block;
}

label{
    margin-top: 40px;
    margin-bottom: 30px;
    width: 300px;
    margin: 0 auto;
    font-size: 30px;
    display: block;
}


.btn{
    display: flex;
    margin: 0 auto;
}

.field{
    margin-top: 100px;
}
